<div class="row-fluid">
  <div class="page-header clearfix">
    <div class="span9 logo">
      <h1>Midnajt
        <small>|Expres</small>
      </h1>
    </div>

  </div>
</div>

<div class="row-fluid video-content">
  <div class="well clearfix video">
    <div class="span6">
      <div class="thumbnail">
        <%= image_tag 'plakat2.jpg' %>
      </div>
      <div class="btns-contact">
        <div class="span5 offset1">
          <address><strong>Zdišek</strong> <br>
            <i class="icon-envelope"></i> midnajti@centrum.cz <br>
            <i class="icon-phone"></i> 776 015 221 <br>
            <i class="icon-facebook"></i>
            <a target="_blank" href="http://www.facebook.com/lenka.z.sebestova" class="muted">Facebook</a>
          </address>
        </div>
        <div class="span6">
          <address><strong>Lenka</strong> <br>
            <i class="icon-envelope"></i> midnajti@centrum.cz <br>
            <i class="icon-phone"></i> 776 015 221 <br>
            <i class="icon-facebook"></i>
            <a target="_blank" href="http://www.facebook.com/lenka.z.sebestova" class="muted">Facebook</a>
          </address>
        </div>
      </div>
    </div>
    <div class="span6 intro">
      <h3>Živá hudba pro vaši zábavu</h3>
      <hr>
      <h5>Ukázky hudby z našich vystoupení</h5>
      <%= render :partial => "play_list" %>

    </div>
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="well well-large" style="background-color:white;text-align:center; margin-bottom:0px;">
          <h4>Pro objednávku našich vystoupení nás neváhejte kontaktovat</h4>
          <a href="#" class="btn btn-red btn-lea"> <i class="icon-phone"></i> <strong>Telefon: 603 775 427</strong></a>
          <em class="muted">nebo</em>
          <a href="mailto:info@midnajtexpres.cz" class="btn btn-golden"><i class="icon icon-envelope"></i>
            midnajti@centrum.cz</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
    .main-content { background-color:white; padding:20px; }
</style>

<div class="row-fluid">
  <!--<div class="transparent-rounded "></div>-->
  <div class="well clearfix main-content">

    <h3><i class="icon-star"></i> Hudební duo MIDNAJT EXPRES
      <small>(Midnajti)</small>
    </h3>

    <p>Hudební duo MIDNIGHT EXPRESS Vám zaručí příjemný večer s živou hudbou, zpěvem, tancem, vtipem i romantikou pøi
      každé příležitosti oslav, veselí či GALA večera. <br>Jsme profesionální hudebníci s dlouholetou praxí
      doma i v zahraničí. Repertoár je sestaven ze skladeb a písní všech hudebních směrů, stále aktualizován a nechybí
      ani kompletní repertoáry zemí, kde
      <strong>asto vystupují: Česká republika, Německo, Rakousko, Švýcarsko, Španělsko a
        Kanárské ostrovy</strong>. <br><br>I když jsou členové této skupiny ,,pouze" dva, jejich silný zpěvový projev v
      doprovodu hudby
      vlastní aranže a sóly na saxofon pro Vás bude jistě nezapomenutelný zážitek. Sami můžete posoudit jejich výkony v
      DEMO snímku zde v nabídce, kde je uložen průřez jejich domácí i zahraniční tvorbou. Těšíme se na s Vámi prožitý
      večer, který může být jeden z těch příjemnějších. Na brzkou shledanou ,,MIDNIGHT EXPRESS".</p>
    <h5>Na jakých akcích jsme se zúčastnili</h5>
    <% ['svatby', 'ostatky', 'hody', 'silvestrovské zábavy', 'firemní večírky', 'narozeniny', 'kulaté výročí'].each do |key| %>
        <span class="label"><%= key %></span>
    <% end %>
    <hr>
    <h3><i class="icon-star"></i> Foto/Video</h3>

    <div class="row-fluid">
      <ul class="thumbnails">
        <% 4.times do |i| %>
            <li class="span3">
              <img src="http://placehold.it/250x150" alt="" class="thumbnail">
            </li>
        <% end %>

      </ul>
      <ul class="thumbnails">
        <% 2.times do |i| %>
            <li class="span6">
              <img src="http://placehold.it/450x400" alt="" class="thumbnail">
            </li>
        <% end %>

      </ul>
    </div>
  </div>


</div>

<div class="row-fluid">
  <div class="span12">

  </div>
</div>