/*
 *= require bootstrap_and_overrides
 *= require famfamfam-flags
 *= require font-awesome
 *= require_self
*/
@import "compass/css3";

body { background:url('/assets/background-page.jpeg') top center no-repeat; }

.video .thumbnail { overflow:hidden; padding:10px; }

.btn-red {
  background-color:hsl(356, 45%, 30%) !important;
  background-repeat:repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#be545b", endColorstr = "#6e2a2e");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#be545b), to(#6e2a2e));
  background-image:-moz-linear-gradient(top, #be545b, #6e2a2e);
  background-image:-ms-linear-gradient(top, #be545b, #6e2a2e);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #be545b), color-stop(100%, #6e2a2e));
  background-image:-webkit-linear-gradient(top, #be545b, #6e2a2e);
  background-image:-o-linear-gradient(top, #be545b, #6e2a2e);
  background-image:linear-gradient(#be545b, #6e2a2e);
  border-color:#6e2a2e #6e2a2e hsl(356, 45%, 24%);
  color:#fff !important;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing:antialiased;
  }

$textColor:#333333;
$headerColor:#6E2A2E;
$linkHoverColor:#fbe471;
$goldenColor:#FFD700;

body { background-color:#000000; color:$textColor; }

.main-content {
  h1, h2, h3 { color:$headerColor; }
  }

.navbar-inner { background-color:#08313b; background-image:none; min-height:40px; border-width: 0 0 1px; border-radius:0; }

.navbar ul {
  margin:0;
  li { padding:0; margin-top:5px; }
  }

.well.main-content { background-color:#ffffff; padding:20px 40px; }

.content960 { max-width:960px; }

.page-header {
  margin:20px 0 20px;
  padding:0;
  border-bottom:none;
  }

.logo {
  text-transform:uppercase; color:white; text-shadow:1px 2px #333333;
  font-size:34px;
  small { font-size:inherit;
    //color:$goldenColor;
    color:#FF1F2E;
    }
 }
.logo-sub {font-size:14px;color:#F81634; margin:-10px 0 0;line-height:14px;}

h1.font-mrDafoe {
  font-family:'Mr Dafoe', cursive;
  text-transform:none;
  font-size:60px; font-weight:normal;
  }

.video {
  z-index:200;
  .thumbnail { background-color:white; }

  .intro {
    h2, h3 {
      color:$headerColor; letter-spacing:0; text-transform:uppercase; margin-bottom:0; }
    h3 {
      margin-top:0; }
    }

  .btn-lead {
    text-transform:uppercase; font-size:19px; padding:5px 15px; border-radius:8px; }

  .btns-contact {
    margin-top:20px;
    padding-left:20px;
    }
  .btn-red { margin:6px 0; }

  ul { margin-top:2px;
    a { color:#333; }
    li { line-height:17px; margin-bottom:8px; }
    }
  .icon-play-circle { font-size:16px; color:#BC9C00 }
  }

//.icon-star {color:#D4AF37; text-shadow:1px 1px #996515;}

footer {
  padding:20px;
  color:#ffffff;

  ul { margin-top:10px; }
  a { color:#ffffff; }
  a:hover { color:$linkHoverColor; }
  }

footer { background-color:#2D535E; border-top:1px solid #7DACBA; }

.btn-login {
  padding:8px 19px;
  text-transform:uppercase;
  float:right;
  }

.btn-primary {
  background-color:hsl(189, 31%, 10%) !important;
  background-repeat:repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#42757e", endColorstr = "#111f21");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#42757e), to(#111f21));
  background-image:-moz-linear-gradient(top, #42757e, #111f21);
  background-image:-ms-linear-gradient(top, #42757e, #111f21);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #42757e), color-stop(100%, #111f21));
  background-image:-webkit-linear-gradient(top, #42757e, #111f21);
  background-image:-o-linear-gradient(top, #42757e, #111f21);
  background-image:linear-gradient(#42757e, #111f21);
  border-color:#111f21 #111f21 hsl(189, 31%, 3%);
  color:#fff !important;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing:antialiased;
  border-radius:2px 2px 2px 2px;
  }

.transparent-rounded {
  height:300px; z-index:-10; position:relative;
  @include filter-gradient(#40ffff, #00ffff, horizontal);
  $experimental-support-for-svg:true;
  @include background-image(radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 53%));
  position:relative; bottom:40px;
  }

.btn-golden {
  background-color:hsl(50, 62%, 44%) !important;
  background-repeat:repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#efe7bc", endColorstr = "#D9B50B");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#efe7bc), to(#D9B50B));
  background-image:-moz-linear-gradient(top, #efe7bc, #D9B50B);
  background-image:-ms-linear-gradient(top, #efe7bc, #D9B50B);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #efe7bc), color-stop(100%, #D9B50B));
  background-image:-webkit-linear-gradient(top, #efe7bc, #D9B50B);
  background-image:-o-linear-gradient(top, #efe7bc, #D9B50B);
  background-image:linear-gradient(#efe7bc, #D9B50B);
  border-color:#D9B50B #D9B50B hsl(50, 62%, 34%);
  color:#333 !important;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing:antialiased;
  }

.red {color:#6F2A2F;}

.videos.thumbnails > li {margin-left: 8px;}
.images.thumbnails > li {margin-left: 8px; width:200px;}

.text-left {text-align:left;}
.text-right {text-align:right;}